extends ../layout

block content 
    h1 Add item to your Cart
    - var total=0
    table(class="table") 
        thead 
            tr  
                th Item Name
                th Item Price
                th City
                th colour
                th More Details
                th Actions
        each item in cart
            - total += Number(item.price)
            tbody
                tr
                    td=item.name        
                    td=item.price
                    td=item.city
                    td=item.colour
                    td=item.detail
                    td
                        a(href="cart/remove/"+item._id ,class="btn btn-danger") Remove
        tfoot
            tr
                th Total        
                th=total          